
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="#">

<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"-->
<!--            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"-->
<!--            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"-->
<!--            crossorigin="anonymous"></script>-->
<!--    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"-->
<!--            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"-->
<!--            crossorigin="anonymous"></script>-->

<!--    <script type="text/javascript" th:inline="javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
<!--    <script type="text/javascript" th:inline="javascript" th:src="@{/js/popper.min.js}"></script>-->
<!--    <script type="text/javascript" th:inline="javascript" th:src="@{/js/bootsrap.min.js}"></script>-->
      <title>Create Book</title>
<!--    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">-->



      <!--      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
<!--      <link rel="stylesheet" th:href="@{/css/login/bootstrap.min.css}" type="text/css">-->

    <script type="text/javascript" th:inline="javascript" th:src="@{/js/popper.min.js}"></script>
    <!--        <script type="text/javascript" th:inline="javascript" th:src="@{/js/bootsrap.min.js}"></script>-->
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/jquery-ui.min.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/split-grid.js}"></script>
    <script type="text/javascript" th:inline="javascript" th:src="@{/js/wmks.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>



    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}" type="text/css">

    <link rel="stylesheet" th:href="@{/css/login/all.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/bootstrap.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/login/bootstrap.bundle.min.js.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/wmks-all.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/split.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/capstone.css}" type="text/css">


  </head>
  <body>


<div class="offcanvas offcanvas-start w-25" tabindex="-1" id="offcanvas" data-bs-keyboard="false" data-bs-backdrop="false" style="background-color: rgb(248 247 247);color:#212529;">
    <!--    <div class="offcanvas-header" style="background-color: #222324 ">#FF0000-->
    <!--    <div class="offcanvas-header" style="background:linear-gradient(to right, #000, #cf342b)">-->
    <div class="offcanvas-header" style="background:linear-gradient(to right, #000, #cf342b)">

        <!--    <div style="display:flex; align-items: center; background-color: #4b4c4d;">-->
        <div style="display:flex; position: relative;top: 0.7rem;">
            <img th:src="@{/images/logo_only.png}" style="width: 55px;height: 55px; " alt="">
            <p style="color:#ffffff; width: 131px;height: 57px;" alt="">ONLINE BOOKSTORE<p>
        </div>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close" style="border-radius: 5px; background-color:#d7d7d7 !important; opacity:0.88 !important;"></button>
    </div>
    <div class="offcanvas-body px-0">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-start" id="menu" style="font-size: 1.2rem;padding-left: 1rem;">

            <li class="dropdown">
                <h4>Other Pages</h4>
                <hr style="background-color: rgb(15 14 14);">
                <a class="dropdown-item hover-underline" href="/" >Home</a>
            </li>


            <li class="dropdown" style="position:absolute; bottom: 2rem;">
                <a href="#" class="nav-link dropdown-toggle  text-truncate" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-person-circle" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                    </svg>
                    <i class="bi bi-person-circle"></i><span style="color:black;" class="ms-1 d-none d-sm-inline">User</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small shadow" aria-labelledby="dropdown">
                    <li><a class="dropdown-item disabled" href="#" th:text="${user.email}"></a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                </ul>
            </li>
        </ul>
        <!--        <div th:replace="~{fragments/footerUI :: footer}"></div>-->

    </div>
</div>
<div class="container-fluid px-0" style="background:linear-gradient(to bottom, #000000, #8d1c15)">
    <button class="btn float-start" style="line-height: .8; padding:5px;" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" role="button">
        <img th:src="@{/images/logo_only.png}" style="width: 55px;height: 55px;margin-top:2rem;" alt="">
        <p style="color:#ffffff; margin-top:1rem; font-weight: bold; font-size: 1.2rem">Menu</p>
        <div style="display:inline-block;">
            <svg style="background-color: #ffffff;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-square" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm4.5 5.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
            <i class="bi bi-arrow-right-square"></i>
        </div>
    </button>

    <div class="container" style="padding-top:1rem; padding-bottom: 1rem;">
    <div class="justify-content-center">
        <div  style="padding-bottom: 1rem; color: #ffffff;">


            <h2 style="text-align: center; font-size: 3rem; padding-top:1rem;">Create Book</h2>
            <!-- based on Enterprose Development course by Prof. Jones at UC          -->
            <form th:action="@{/create-book}" th:object="${book}" method="post" class="form-horizontal">
            <div class="form-group">
                <label for="bookImage" class="col-sm-2 col-form-label-lg">
                    Book Image
                </label>
                <div class="col-sm-10"> 
                    <input type="file" name="bookImage" required th:field="*{bookImage}"
                           class="form-control form-control-lg" id="bookImage" placeholder="Book Image">
                </div>
            </div>

                <div class="form-row col-sm-10">

                    <div class="form-group col-sm-2">
                        <label for="titleHeader" class="col-form-label-lg">Title</label>
                        <input type="text" name="title" required th:field="*{title}"
                               class="form-control form-control-lg" placeholder="Title" id="titleHeader">
                    </div>

                    <div class="form-group col-sm-2">
                        <label for="isbn" class="col-sm col-form-label-lg">ISBN</label>
                        <input type="text" name="isbn" required th:field="*{isbn}"
                               class="form-control form-control-lg" id="isbn" placeholder="ISBN">
                    </div>

                    <div class="form-group col-sm">
                        <label for="author" class="col-sm col-form-label-lg">Author</label>
                        <input type="text" name="author" required th:field="*{author}"
                               class="form-control form-control-lg" id="author" placeholder="Author">
                    </div>

                    <div class="form-group col-sm">
                        <label for="publisher" class="col-sm col-form-label-lg">Publisher</label>
                        <input type="text" name="publisher" required th:field="*{publisher}"
                               class="form-control form-control-lg" id="publisher" placeholder="Publisher">
                    </div>
                </div>

                <div class="form-group">
                    <label for="description" class="col-sm-2 col-form-label-lg">Description</label>
                    <div class="col-sm-10">
                        <textarea required name="description" th:field="*{description}"
                                  class="form-control form-control-lg" id="description" placeholder="Description..."
                                  rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group">

                </div>

                <div class="form-group">
                    <label for="price" class="col-sm-2 col-form-label-lg">Price</label>
                    <div class="col-sm-10">
                        <input type="number" name="price" required th:field="*{price}"
                               class="form-control form-control-lg" id="price" placeholder="Price">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-danger">Add Book</button>
                    </div>
                </div>
            </form>


        </div>
    </div>
</div>
    <div th:replace="~{fragments/footerUI :: footer}"></div>
</div>
  <script>
      let footer = document.querySelector(".footer-basic");
      footer.classList.remove('fixed-to-bottom');
  </script>
  </body>
</html>
